<div class="m-3">
    <h5 class = "text-center">Criação de conta de Usuários</h5>
    <p class = "text-center">Informe os seus dados para criar sua conta.</p>
    <hr />

    <form>
      <div class="row mb-2">
        <div class="col-md-3">
          <label>Nome do usuário:</label>
          <input type="text" class="form-control" />
        </div>
        <div class="col-md-3">
          <label>Email de acesso:</label>
          <input type="text" class="form-control" />
        </div>
        <div class="col-md-3">
          <label>Senha de acesso:</label>
          <input type="password" class="form-control" />
        </div>
        <div class="col-md-3">
          <label>Confirme sua senha:</label>
          <input type="password" class="form-control" />
        </div>
      </div>
  
  
      <div class="row mb-2">
        <div class="col">
          <input type="submit" class="btn btn-primary" value="Realizar Cadastro"/>
        </div>
      </div>
    </form>
  </div>
  
  
  