<div class="m-3">
    <h5 class="text-center">Recuperação de senha de Usuários</h5>
    <p class="text-center">Informe os seus dados para recuperar a sua senha.</p>
    <hr /> 
  
    <form>
      <div class="row mb-2">
        <div class="col-md-4">
          <label>Email de acesso:</label>
          <input type="text" class="form-control" />
        </div>
      </div>  
  
      <div class="row mb-2">
        <div class="col">
          <input type="submit" class="btn btn-primary" value="Recuperar Senha"/>
        </div>
      </div>
    </form>
  </div>
  
  
  
  
  
