<div class="m-3">
    <h5 class="text-center">Atualização de dados Usuário</h5>
    <p class="text-center">Preencha os campos para atualizar seus dados.</p>
    <hr />
 
    <form>
      <div class="row mb-2">
        <div class="col-md-4">
          <label>Nome do usuário:</label>
          <input type="text" class="form-control" />
        </div>
        <div class="col-md-4">
          <label>Senha de acesso:</label>
          <input type="password" class="form-control" />
        </div>
        <div class="col-md-4">
          <label>Confirme sua senha:</label>
          <input type="password" class="form-control" />
        </div>
      </div>
 
      <div class="row mb-2">
        <div class="col">
          <input type="submit" class="btn btn-primary" value="Atualizar Dados"/>
        </div>
      </div>
    </form>
  </div>
 



